<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" sizes="57x57" href="ico.png"/>
		<title>Login | PRODE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<!-- vinculo a bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- se vincula al hoja de estilo para definir el aspecto del formulario de login-->  
		<link rel="stylesheet" type="text/css" href="estilo.css">
		
	</head>
	<body background="D.jpg">
		<div id="header">
			<ul class="nav">
				<li><a href="">Inicio</a></li>
					<li><a href="">Servicios</a>
						<ul>
							<li><a href="">Submenu1</a></li>
							<li><a href="">Submenu2</a></li>
							<li><a href="">Submenu3</a></li>
							<li><a href="">Submenu4</a>
								<ul>
								<li><a href="">Submenu1</a></li>
								<li><a href="">Submenu2</a></li>
								<li><a href="">Submenu3</a></li>
								<li><a href="">Submenu4</a></li>
								</ul>
							</li>
						</ul>
					</li>
				<li><a href="">Acerca de</a>
					<ul>
					<li><a href="">Submenu1</a></li>
					<li><a href="">Submenu2</a></li>
					<li><a href="">Submenu3</a></li>
					<li><a href="">Submenu4</a></li>
					</ul>
				</li>
				<li><a href="">Contacto</a></li>
			</ul>
		</div>
		<div id="titulo" align="center">
			<h1  style="font:aladin;text-align:center;color:black;"><MARQUEE BEHAVIOR=ALTERNATE> <img src="Icons-Land-Metro-Raster-Sport-Soccer-Ball.ico" width="50" height="50" /> TU PRODE AMIGO! <img src="Icons-Land-Metro-Raster-Sport-Soccer-Ball.ico" width="50" height="50" /></MARQUEE></h1>
		</div>
		<br>
		<TABLE BORDER=100>
			<FONT FACE="Impact">
			<MARQUEE BGCOLOR= #0F8C6B >JUGÁ Y GANÁ! $50.000 EN PREMIOS CADA FECHA!<i class="fas fa-futbol"></MARQUEE>
			</FONT>
		<div class="container-fluid">
			<div class="row"> 
				<div id="Contenedor" align="center">
					<br>
					<h3> Inicie sesión</h3>
					<br>
					<img src="club9_car3.png" width="100" height="100"/>
					<div class="btn-group-vertical">
						<br>
						<div class="input-group">
							<div class="input-group-prepend">
								<label for="usernamelogin" class="input-group-text" id="usernamelogin">Usuario</label>
							</div>
							<input id="usernamelogin" type="text" class="form-control" placeholder="example123">
						</div>
						<form action="" method="post" name="FormEntrar">
						<br>
						<div class="input-group">
							<div class="input-group-prepend">
								<label for="usernamelogin" class="input-group-text" id="usernamelogin">Contraseña</label>
							</div>
							<input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
						</div>
						<br>
						<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>
						<div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>
						</form>
					</div>
				</div>

				<div id="Contenedor1" align="center">
					<div class="form-group">
						<br>
						<h3> Ingrese sus datos</h3>
						<br>
						<form action="" method="post" name="formRegistro">
								<div class="input-group">
									<div class="input-group-prepend">
										<label for="nombre" class="input-group-text" id="">Nombre y apellido</label>
									</div>
									<input id="nombre" type="text" class="form-control">
									<input type="text" class="form-control">
								</div>
							<br>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<label for="username" class="input-group-text" id="basic-addon1">@</label>
								</div>
								<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">Check disponibilidad</button>
								</div>
							</div>    
							<div class="input-group">
								<div class="input-group-prepend">
								<label for="mail" class="input-group-text" id="email">Email</label>
								</div>
								<input id="mail" type="email" class="form-control" placeholder="example@example.com">
							</div>
							<br>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Pais</label>
									</div>
									<select class="custom-select" id="inputGroupSelect01">
										<option selected>Seleccione su pais...</option>
										<option value="1">One</option>
									</select>
								</div>  
							<br>
							<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Registrarse</button>
						</form>
					</div>  
				</div>
			</div>
		</div>

		<footer>
			<address>
				<a href=”https://twitter.com/GarciaValeriaOK”>Valeria</a>
			</address>
			Derechos Reservados &copy; 2018
		</footer>
	</body>
</html>