{{>header}}
<title>Administrador | PRODE</title>
<div class="container-fluid">
	<div class="row">
		<div id="Contenedor" align="center">
			<br>
			<font color="Olive" face="Comic Sans MS,arial">
				<h1 align="center" style="margin-top: 15px"><i><u>Fixtures disponibles</u></i></h1>
			</font>
			<br>
			<div>
				<button style="width: 80%" class="btn btn-primary" data-toggle="button" aria-pressed="false" id="bloadCountry" name="bloadCountry" onclick="hideElem('loadCountry')">Cargar paises</button>
			</div>
			<br>
			<div>
				<button style="width: 80%" class="btn btn-primary" data-toggle="button" aria-pressed="false" id="bloadResult" name="bloadResult" onclick="hideElem('loadResult')">Cargar resultados</button>
			</div>
			<br>
			<div>
				<button style="width: 80%" class="btn btn-primary" data-toggle="button" aria-pressed="false" id="bRemoveUser" name="bRemoveUser" onclick="hideElem('RemoveUser')">Borrar usuario</button>
			</div>
			<br>
		</div>

		<div id="loadCountry" style="display:none;background-color: #F3EDED;border: 1px solid #ECE8E8;margin: 50px auto;height: 100%;width: 300px;border-radius:8px;" align="center">
			<font color="Olive" face="Comic Sans MS,arial">
				<h1 align="center" style="margin-top: 15px"><i><u>Carge el pais</u></i></h1>
			 	</font>
			<br>
			<div class="form-group">
				<form method="post" action="/loged/admin/" id="form-registro" name="form-registro">
					<input id="action" hidden name="action" value="loadCountry">
					<input style="width: 80%" type="text" class="form-control" placeholder="Country" id="sendContrys" name="sendContrys" required>
					<br>
					<button type="submit" id="sendContry" name="sendContry" class="btn btn-primary" data-toggle="button" aria-pressed="false">Enviar</button>
				</form>
				<br>
			</div>
		</div>

		<div id="loadResult" align="center" style="{{^lastFixture}}display:none;{{/lastFixture}}	{{#lastFixture}}display:block;{{/lastFixture}}background-color: #F3EDED;border: 1px solid #ECE8E8;margin: 50px auto;height: 100%;width: 300px;border-radius:8px;">
			<font color="Olive" face="Comic Sans MS,arial">
				<h1 align="center" style="margin-top: 15px"><i><u>Fixtures disponibles</u></i></h1>
			</font>
			<br>
			<form method="post" action="/loged/admin/" id="form-list-apuestas" name="form-list-apuestas">
				<input id="action" notab="" type="hidden" name="action" value="fixtures">
					{{#fixs}}<div> <button class="btn btn-primary" data-toggle="button" aria-pressed="false" id="{{.}}" name="{{.}}" type="submit">{{.}}</button></div><br> {{/fixs}}
			</form>
		</div>

		{{#lastFixture}}
		<div id="ContenedorPred" style="display:block; height: 100%" align="center">
			<div class="form-group">
				<font color="Olive" face="Comic Sans MS,arial">
					<h1 align="center"><i><u>{{lastFixture}}</u></i></h1>
					<h1 align="center"><i><u>Fecha N°{{scheduleCurrent}}</u></i></h1>
				</font>
				<form method="post" action="/loged/admin/" id="form-registro" name="form-registro">
				<input id="action" notab="" type="hidden" name="action" value="matches">
				<table id="customers">
				  <tr>
					<th>Local</th>
					<th>Tu jugada</th>
					<th>Visitante</th>
				  </tr>
				  	{{#fixtureCurrent}}
				  	<tr>
				  		{{#.}}
					<td>{{visit}}</td>
					<th>
					<fieldset id="{{id}}" name="{{id}}">
							<input type="radio" name="{{id}}" value="local"> L
							<input type="radio" name="{{id}}" value="tie"> E
							<input type="radio" name="{{id}}" value="visit"> V
					</fieldset>
					</th>
					<td>{{local}}</td>
						{{/.}}
				    </tr>
				    {{/fixtureCurrent}}
				</table>
				<br>
				<button class="btn btn-primary" data-toggle="button" aria-pressed="false" id= "apostar" name="apostar" type="submit">Confirmar Resultados</button>
				  </form>
			</div>
		</div>
		{{/lastFixture}}
	</div>
</div>

<script type="text/javascript">
	function hideElem(n) {
		var x = document.getElementById(n);
		if (document.getElementById("ContenedorPred") !== null){
			document.getElementById("ContenedorPred").style.display = "none";
		}
		document.getElementById('loadResult').style.display = "none";
		document.getElementById("loadCountry").style.display = "none";
    x.style.display = "block";
	}
</script>
{{>footer}}
