{{>public/header}}
		<title>Login | PRODE</title>
		<div class="container-fluid">
			<div class="row">
				<div id="Contenedor" align="center">
					<br>
					<h3> Inicia sesión</h3>
					<br>
					<img src="club9_car3.png" width="100" height="100"/>
					<div class="btn-group-vertical">
						<br>
						{{errorLogin}}
						<form method="post" id="FormEntrar">
							<input id="action" notab="" type="hidden" name="action" value="signin">
							<div class="input-group">
								<div class="input-group-prepend">
									<label for="usernamelogin" class="input-group-text">Usuario</label>
								</div>
								<input id="usernamelogin" name="usernamelogin" type="text" class="form-control" required placeholder="example123">
							</div>
							<br>
							<div class="input-group">
								<div class="input-group-prepend">
									<label for="pswLogin" class="input-group-text">Contraseña</label>
								</div>
								<input id="pswLogin" name="pswLogin" type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
							</div>
							<br>
							<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit" href="127.0.0.1:4567/perfil">Entrar</button>
							<div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>
						</form>
					</div>
				</div>

				<div id="Contenedor1" align="center">
					<div class="form-group">
						<br>
						<h3> Creá tu cuenta</h3>
						<br>
						<form method="post" action="/" id="form-registro" name="form-registro">
							<input id="action" notab="" type="hidden" name="action" value="signup">
							<div class="input-group">
								<div class="input-group-prepend">
									<label for="nombre" class="input-group-text" id="">Nombre y apellido</label>
								</div>
								<input id="nombre" name="nombre" type="text" class="form-control" required>
								<input id="apellido" name="apellido" type="text" class="form-control" required>
							</div>
							<br>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<label for="rUsername" class="input-group-text" id="basic-addon1">@</label>
								</div>
								<input id="rUsername" name="rUsername" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" id="checkUsername">Check disponibilidad</button>
								</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<label for="rdni" class="input-group-text" id="basic-addon1">DNI:</label>
								</div>
								<input id="rdni" name="rdni" type="number" class="form-control" placeholder="12345678" aria-label="12345678" maxlength="8" minlength="8" size="8" aria-describedby="basic-addon1" required>
							</div>
							<div class="input-group">
								<div class="input-group-prepend">
									<label for="pswRegister" class="input-group-text" id="usernamelogin">Contraseña</label>
								</div>
								<input id="pswRegister" name="pswRegister" type="password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
							</div>
							<br>
							<div class="input-group">
								<div class="input-group-prepend">
									<label for="pswValida" class="input-group-text" id="usernamelogin">Contraseña otra vez</label>
								</div>
								<input id="pswValida" name="pswValida" type="password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
							</div>
							<span class="error" aria-live="polite"></span>
							<br>
							<div class="input-group">
								<div class="input-group-prepend">
								<label for="mail" class="input-group-text" id="email">Email</label>
								</div>
								<input id="mail" name="mail" type="email" class="form-control" placeholder="example@example.com" required>
							</div>
							<br>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01" required>Pais</label>
									</div>
									<select class="custom-select" id="rpais" name="rpais">
										<option selected disabled value="Argentina">Seleccione su pais...</option>
										{{#countries}} <option value={{.}}>{{.}}</option> {{/countries}}
									</select>
								</div>

							<div class="input-group">
								<div class="input-group-prepend">
								<label for="clave" class="input-group-text" id="clavl">Palabra Clave</label>
								</div>
								<input id="clave" name="clave" type="password" class="form-control" placeholder="Complete correctamente para ser admin" >
							</div>
							<br>
							<button class="btn btn-lg btn-primary btn-block btn-signin" id="btnRegister" type="submit">Registrarme</button>
						</form>
					</div>
					{{#errorRegister}} <h4> {{.}} </h4> {{/errorRegister}}
				</div>
			</div>
		</div>
{{>public/footer}}
