{{>header}}
<div class="container-fluid"> 
	<div class="row" align="left">
		<div id="Contenedor" align="center">
			<div class="form-group">
				<br>
				<h3> MI PERFIL</h3>
				<img src="club9_car3.png" width="100" height="100"/>
				<br>
				
			</div>
		</div>
		<div id="Contenedor1" align="center">
			<div class="form-group">
				<br>
				<h3> MIS JUGADAS</h3>
				<br>
				<table id="customers">
				  <tr>
					<th>Fixture</th>
					<th>Fecha</th>
					<th>Mi Puntaje</th>
				  </tr>
				</table>
			</div>
		</div>
	</div>
</div>
{{>footer}}

