{{>header}}
<div class="container-fluid"> 
	<div class="row">
		<div id="Contenedor" align="left">
			<ul>
			<li><a href="#">Mundial 2018</a></li>
			<li><a href="#">SAF</a></li>
			<li><a href="#">Champion League</a></li>
			</ul>
		</div>
<div id="Contenedor1" align="center">
	<div class="form-group">
		<table id="customers">
		  <tr>
			<th></th>
			<th>Local</th>
			<th>Empate</th>
			<th>Visita</th>
			<th></th>
		  </tr>
		  <tr>
			<td>Argentina</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Islandia</td>
		  </tr>
		  <tr>
			<td>Argentina</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Islandia</td>
		  </tr>
		  <tr>
			<td>Argentina</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Islandia</td>
		  </tr>
		  <tr>
			<td>Argentina</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Islandia</td>
		  </tr>
		</table>
	</div>
</div>
	</div>
</div>

{{>footer}}
