<!DOCTYPE html>
<html>
	<head>
		<link type="image/png" rel="icon" href="ico.png"/>
		<meta charset="utf-8">
		<!-- vinculo a bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- se vincula al hoja de estilo para definir el aspecto del formulario de login-->  
		<link rel="stylesheet" type="text/css" href="/estilo.css">	
	</head>
	<body>
		<div id="salir" class="btn-group float-right mt-2">
 			<button type="button" class="btn btn-danger"  href="http://127.0.0.1:4567/loged/perfil">@{{nic}}</button>
  			<button type="button" class="btn btn-danger"  href="127.0.0.1:4567/">Salir</button>
		</div>
		<div id="titulo" align="center">
			<h1  style="font:aladin;text-align:center;color:black;"><MARQUEE BEHAVIOR=ALTERNATE> <img src="/Icons-Land-Metro-Raster-Sport-Soccer-Ball.ico" width="50" height="50" /> TU PRODE AMIGO! <img src="/Icons-Land-Metro-Raster-Sport-Soccer-Ball.ico" width="50" height="50" /></MARQUEE></h1>
		</div>