{{>header}}
<head>
	<title>A Jugar! | PRODE</title>
</head>
<div class="container-fluid"> 
	<div class="row">
		<div id="Contenedor" align="center">
			<ul>
			{{#fixs}}<div> <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">{{.}}</button></div><br>{{/fixs}}
			
			</ul>
		</div>
		<div id="Contenedor1" align="center">
			<div class="form-group">
				<table id="customers">
				  <tr>
					<th></th>
					<th>Tu jugada</th>
					<th></th>
				  </tr>
				  <tr>
					<td>Argentina</td>
					<th>
					<fieldset>
						<label>
							<input type="radio" name="l1" value="Local"> L
						</label>
						<label>
							<input type="radio" name="e1" value="Empate"> E
						</label>
						<label>
							<input type="radio" name="v1" value="Visita"> G
						</label>
					</fieldset>
					</th>
					<td>Islandia</td>
					</tr>

					<tr>
					<td>Argentina</td>
					<th>
					<fieldset>
						<label>
							<input type="radio" name="l2" value="Local"> L
						</label>
						<label>	
							<input type="radio" name="e2" value="Empate"> E
						</label>
						<label>
							<input type="radio" name="v2" value="Visita"> G
						</label>
					</fieldset>
					</th>
					<td>Islandia</td>
				  </tr>

				  <tr>
					<td>Argentina</td>
					<th>
					<fieldset>
						<label>
							<input type="radio" name="l3" value="Local"> L
						</label>
						<label>
							<input type="radio" name="e3" value="Empate"> E
						</label>
						<label>
							<input type="radio" name="v3" value="Visita"> G
						</label>
					</fieldset>
					</th>
					<td>Islandia</td>
					</tr>

					<tr>
					<td>Argentina</td>
					<th>
					<fieldset>
						<label>
							<input type="radio" name="l4" value="Local"> L
						</label>
						<label>
							<input type="radio" name="e4" value="Empate"> E
						</label>
						<label>
							<input type="radio" name="v4" value="Visita"> G
						</label>
					</fieldset>
					</th>
					<td>Islandia</td>
				  </tr>
				</table>
			</div>
		</div>
	</div>
</div>

{{>footer}}
