{{>header}}
<title>A Jugar! | PRODE</title>
<div class="container-fluid"> 
	<div class="row">
		<div id="Contenedor" align="center">
			<br>
			<font color="Olive" face="Comic Sans MS,arial">
				<h1 align="center"><i><u>Fixtures disponibles</u></i></h1>
			</font>
			<br>
			<img src="/fixture.png" width="150" height="150" align="justify" />
			<br>
			<br>
			<ul>
			<form method="post" action="/loged/prode" id="form-list-apuestas" name="form-list-apuestas">
				<input id="action" notab="" type="hidden" name="action" value="fixtures">
				{{#fixs}}<div> <button class="btn btn-primary" data-toggle="button" aria-pressed="false" id="{{.}}" name="{{.}}" type="submit">{{.}}</button></div><br> {{/fixs}}
			</form>
			</ul>
		</div>
		<div id="ContenedorPred" align="center">
			<div class="form-group">
				<font color="Olive" face="Comic Sans MS,arial">
					<h1 align="center"><i><u>{{lastFixture}}</u></i></h1>
					<h1 align="center"><i><u>Fecha N°{{scheduleCurrent}}</u></i></h1>
				</font>
				<form method="post" action="/loged/prode" id="form-registro" name="form-registro">
				<input id="action" notab="" type="hidden" name="action" value="matches">
				<table id="customers">
				  <tr>
					<th>Local</th>
					<th>Tu jugada</th>
					<th>Visitante</th>
				  </tr>
				  	{{#fixtureCurrent}} 
				  	<tr>
				  		{{#.}}
					<td>{{visit}}</td>
					<th>
					<fieldset id="{{id}}" name="{{id}}">
							<input type="radio" name="{{id}}" value="local"> L
							<input type="radio" name="{{id}}" value="tie"> E
							<input type="radio" name="{{id}}" value="visit"> V
					</fieldset>
					</th>
					<td>{{local}}</td>
						{{/.}}
				    </tr>
				    {{/fixtureCurrent}}
				</table>
				<br>
				<button {{^fixtureCurrent}} hidden="true" {{/fixtureCurrent}} class="btn btn-primary" data-toggle="button" aria-pressed="false" id= "apostar" name="apostar" type="submit">Apostar</button>
				  </form>
			</div>
		</div>
	</div>
</div>

{{>footer}}
