{{>header}}
<head>
	<title>A Jugar! | PRODE</title>
</head>
<div class="container-fluid"> 
	<div class="row">
		<div id="Contenedor" align="center">
			<ul>
			<form method="post" action="/x" id="form-list-apuestas" name="form-list-apuestas">
				{{#fixs}}<div> <button class="btn btn-primary" data-toggle="button" aria-pressed="false" id="{{.}}" name="{{.}}" type="submit">{{.}}</button></div><br> {{/fixs}}
			</form>
			</ul>
		</div>
		<div id="Contenedor1" align="center">
			<div class="form-group">
				<table id="customers">
				  <tr>
					<th></th>
					<th>Tu jugada</th>
					<th></th>
				  </tr>
				  <form method="post" action="/j" id="form-registro" name="form-registro">
				  	{{#jugarFix}} 
				  	<tr>
				  		{{#.}}
					<td>{{visit}}</td>
					<th>
					<fieldset id="{{id}}" name="{{id}}">
						<label>
							<input type="radio" name="l1" value="local"> L
						</label>
						<label>
							<input type="radio" name="e1" value="tie"> E
						</label>
						<label>
							<input type="radio" name="v1" value="visit"> V
						</label>
					</fieldset>
					</th>
					<td>{{local}}</td>
						{{/.}}
				    </tr>
				    {{/jugarFix}}
				    <button class="btn btn-primary" data-toggle="button" aria-pressed="false" id= "apostar" name="apostar" type="submit">Apostar</button>
				  </form>
				</table>
			</div>
		</div>
	</div>
</div>

{{>footer}}
